---
import Layout from "@/components/Layout.astro";
---

<Layout title="About">
    <div class="px-10 items-center flex ">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, tenetur.</h1>
    </div>
</Layout>