---
import "@/styles/globals.css";
import { ModeToggle } from "@/components/ModeToggle";
import * as React from "react";
import { BadgeCheck, Sun } from "lucide-react";
import Header from "@/components/Header.astro";
import BaseHead from "@/components/BaseHead.astro";
const {title} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title}/>
  </head>
  <body>
   <Header/>
   <slot/>
  </body>
</html>